body {
  display: flex;
  justify-content: center;
  background-color: #008080;
  padding-top: 30px;
}

p {
  font-family: "Inconsolata", monospace;
  font-size: 2em;
  text-align: center;
  color: #bcbcbc;

  display: flex;
  justify-content: center;
  margin-bottom: 22px;
  background-color: #808080;
  padding: 10px 4px 9px 4px;
  margin: 2px 2px 24px 1px;
}

.container {
  background: #c2c7cb;
  justify-content: center;
  vertical-align: center;
  width: 520px;
  height: 500px;
  border: 2px solid;

  border-bottom-color: #535353;
  border-right-color: #535353;
  border-left-color: #dbdbdb;
  border-top-color: #dbdbdb;
  background-color: #bfbfbf;
}

.palette {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.color {
  width: 25px;
  height: 20px;
  padding-bottom: 10px;
  margin-right: 8px;
  border: 1px solid;
  border-top-color: #444;
  border-left-color: #444;
  border-right-color: #a6a6a6;
  border-bottom-color: #a6a6a6;
}

.color.c1 {
  background-color: #555555;
}

.color.c2 {
  background-color: #5555ff;
}

.color.c3 {
  background-color: #55ff55;
}

.color.c4 {
  background-color: #55ffff;
}

.color.c5 {
  background-color: #ff5555;
}

.color.c6 {
  background-color: #ff55ff;
}

.color.c7 {
  background-color: #ffff55;
}

.color.c8 {
  background-color: #ffffff;
}

#grid {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  background: linear-gradient(#ffffff97, #ffffff97),
    url("/transparency.png") repeat;

  border-collapse: collapse;
  outline: 2px solid transparent;
}

.cell {
  margin: 0;
  border: 1px solid #939393;
}

.filled {
  background-color: #000;
}

#clear-button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 9px;
  height: 20px;
  width: 100px;
  margin: 22px auto;

  border: 2px solid;
  border-bottom-color: #444;
  border-right-color: #444;
  border-left-color: #a6a6a6;
  border-top-color: #a6a6a6;
  background-color: #bfbfbf;
}
